
/************
General
************/

ul {
    list-style: none;
    padding-left: 10px;
}

body {
    font-size: 1em;
    font-family: Helvetica;
    color: #cbcbca;
}

a {
    color: inherit;
    text-decoration: none;
}

/************
MAIN
************/


.octodex {

}

.octocat {
    float: left;
    margin-right: 25px;
    margin-top: 10px;

}

.octocat img {
    height: 445px;
    border: 1px solid #cbcbca;
    border-radius: 3px;
}

.octocat:first-child {
    position: relative;
    left: 0px;
}

.octocat:nth-child(3) {
    margin-right: 0;
}

.image-footer {
    position: relative;
    padding: 15px 0;
    border-bottom: 1px solid #cbcbca;
}

.image-footer::before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-top-color: #cacaca;
    position: absolute;
    right: 0;
    top: -5px;
}

.authors img {
    position: relative;
    top: -8px;
    height: 30px;
    border-radius: 5px;
}


.image-caption {
    color: #777;
    display: inline;
    float: right;
    font-weight: 700;
}

.authors {
    display: inline;
    float: right;
}

.image-number::before {
    content: "#";
}

.image-number {
    font-weight: 700;
}

.image-caption a {
    font-weight: 900;
    color: black;
}