
/************
General
************/

ul {
    list-style: none;
}

/************
MAIN
************/


.octodex {

}

.octocat {
    float: left;
    margin-right: 20px;
    margin-top: 10px;

}

.octocat img {
    height: 380px;
    border: 1px solid #d6d6d6;
    border-radius: 3px;
}

.image-footer {
    padding: 15px 0;
    border-bottom: 1px solid #d6d6d6;
}


.authors img {
    height: 25px;
    border-radius: 5px;
}


.image-caption {
    display: inline;
    float: right;
}

.authors {
    display: inline;
    float: right;
}
