
/************
General
************/

ul {
    list-style: none;
}

body {
    font-size: 1em;
    font-family: Helvetica;
}

/************
MAIN
************/


.octodex {

}

.octocat {
    float: left;
    margin-right: 20px;
    margin-top: 10px;

}

.octocat img {
    height: 440px;
    border: 1px solid #d6d6d6;
    border-radius: 3px;
}

.octocat:nth-child(3) {
    margin-right: 0;
}

.image-footer {
    padding: 15px 0;
    border-bottom: 1px solid #d6d6d6;
}


.authors img {
    position: relative;
    top: -8px;
    height: 30px;
    border-radius: 5px;
}


.image-caption {
    display: inline;
    float: right;
}

.authors {
    display: inline;
    float: right;
}
